.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTac_Yg3Nd8jYV_bUBeY8Kn693jFpKapt1jfQ&usqp=CAU");
  opacity: 0.9;
  background-size: cover contain;
  align-items: center;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgba(240, 128, 128, 0.253);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
